.driver {
  &:not(:last-child) {
    margin-bottom: rem(47);
  }
}

.driver {
  &__title {
    &:not(:last-child) {
      margin-bottom: em(64, 33);
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }
  }

  &__body {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(20);
    row-gap: rem(30);

    .driver-benefits & {
      grid-template-columns: repeat(3, 1fr);

      //== 992px ==//
      @media (max-width: $tb) {
        grid-template-columns: 1fr;
        justify-items: start;
        padding-left: 10%;
        padding-right: 10%;
      }
    }

    @media (max-width: em(639.98)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(33);
    max-width: rem(183);

    .driver-benefits & {
      flex-direction: row;
      gap: rem(45);
      max-width: rem(310);

      //== 992px ==//
      @media (max-width: $tb) {
        gap: rem(15);
        max-width: none;
      }
    }

    //== 992px ==//
    @media (max-width: $tb) {
      gap: rem(15);
    }
  }
  &__card-icon {
    position: relative;
    flex: 0 0 rem(112);
    width: rem(112);
    height: rem(112);
    @extend %bg-con;
    background-image: url('@img/icons/bg.svg');

    .driver-benefits & {
      flex: 0 0 rem(100);
      width: rem(100);
      height: rem(100);
      background-image: url('@img/icons/bg-gray.svg');

      //== 992px ==//
      @media (max-width: $tb) {
        flex: 0 0 rem(80);
        width: rem(80);
        height: rem(80);
      }

      //== 576px ==//
      @media (max-width: $mb-m) {
        flex: 0 0 rem(60);
        width: rem(60);
        height: rem(60);
      }
    }

    //== 992px ==//
    @media (max-width: $tb) {
      flex: 0 0 rem(80);
      width: rem(80);
      height: rem(80);
    }
  }

  &__card-icon svg,
  &__card-icon img {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--clr-white);
  }

  &__card-text {
    text-align: center;
    font-weight: 500;
    line-height: math.div(22, 18);
    @include adaptiveValue('font-size', 18, 14);

    .driver-benefits & {
      text-align: left;
    }
  }
}
