.license {
  &__container {
    position: relative;
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: em(47, 33);
    }
  }

  &__slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: rem(283) !important;
    background-color: var(--clr-white);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: rem(8);
    overflow: hidden;

    //== 992px ==//
    @media(max-width: $tb) {
      height: rem(300) !important;
    }
    @media(max-width: em(639.98)) {
      height: rem(200) !important;
    }
    @media(max-width: em(419.98)) {
      height: rem(300) !important;
    }
  }

  &__slide img {
    maw-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__arrow {
    position: absolute;
    bottom: 36%;
    @extend %fl-a-ct;
    width: rem(55);
    height: rem(55);
    border-radius: 100%;
    background-color: var(--clr-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease 0s;

    @media(any-hover: hover) {
      &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }
    }

    @media(max-width: em(639.98)) {
      display: none;
    }
  }

  &__arrow svg, &__arrow img {
    flex: 0 0 rem(12);
    width: rem(12);
    height: rem(18);
  }

  &__arrow.swiper-button-prev {
    left: rem(39);
  }

  &__arrow.swiper-button-next {
    right: rem(39);
  }
}
