.card-benefits {
  position: relative;
  padding: rem(33) rem(35) rem(28);
  border-radius: rem(30);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  background-color: var(--clr-white);

  &__icon {
    fill: var(--clr-accent);
    position: absolute;
    width: rem(30);
    height: rem(30);
    bottom: rem(33);
    right: rem(35);
  }

  &__title {
    font-family: 'Unbounded', 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    @include adaptiveValue('font-size', 18, 15);

    &:not(:last-child) {
      margin-bottom: em(7, 18);
    }
  }

  &__text {
    padding-right: rem(50);

    line-height: math.div(22, 18);
    @include adaptiveValue('font-size', 18, 15);
  }
}
